
    <a asp-area="admin" asp-controller="Admin" asp-action="Index" class="col-12 col-md bg-light mx-1 my-3 d-flex align-items-center justify-content-center rounded" style="height:50px;">
        Index
    </a>
    <a asp-area="admin" asp-controller="Admin" asp-action="Privacy" class="col-12 col-md bg-secondary mx-1 my-3  d-flex align-items-center justify-content-center rounded text-white-50" style="height:50px;">
        admin
    </a>
    <a asp-area="admin" asp-controller="Admin" asp-action="Privacy" class="col-12 col-md bg-light mx-1 my-3  d-flex align-items-center justify-content-center rounded" style="height:50px;">
        admin
    </a>

