html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height:100vh;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.description-cell {
    white-space: normal; /* Allows text to wrap */
    word-wrap: break-word; /* Breaks long words to wrap to the next line */
    overflow: hidden; /* Hides overflow text */
    max-width: 200px; /* Adjust based on your layout */
}